@tailwind base;
@tailwind components;
@tailwind utilities;


/* ou ajoutez directement dans le fichier index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
